/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
span{
  padding:10px
}

h3{
  margin-top:20px
}

button{
  margin: 15px 5px;
}
th, td, tr {
  padding: 10px;
  border:1px solid black;
}
table{
  margin-top:5px
}